In [9]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import warnings
import pickle

In [10]:
warnings.filterwarnings("ignore")

data = pd.read_csv("homeprices.csv")

In [11]:
data.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [12]:
data = np.array(data)

In [13]:
X = data[1:, 1:-1]
y = data[1:, -1]

In [14]:
y

array([565000., 610000., 595000., 760000., 810000.])

In [15]:
y = y.astype('int')
X = X.astype('int')

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
log_reg = LinearRegression()

In [17]:
log_reg.fit(X_train, y_train)



pickle.dump(log_reg,open('modellinear.pkl','wb'))